In [1]:
!pip install mysql-connector-python
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)
Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.38)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)

In [ ]:
import sqlite3

# Create or connect to a database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER, name TEXT)''')

# Insert Data
cursor.execute("INSERT INTO users (id, name) VALUES (1, 'Ayush')")
conn.commit()

# Query Data
cursor.execute("SELECT * FROM users")
print(cursor.fetchall())

# Close Connection
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
print("‚úÖ Database connected successfully!")

In [ ]:
# Create a "users" table (if not exists)
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
);
''')
conn.commit()
print("‚úÖ Table created successfully!")

In [ ]:
# Insert sample records
cursor.execute("INSERT INTO users (name, age) VALUES ('Ayush', 19);")
cursor.execute("INSERT INTO users (name, age) VALUES ('John Doe', 25);")
conn.commit()

print("‚úÖ Data inserted successfully!")

In [ ]:
# Fetch all records
cursor.execute("SELECT * FROM users;")
rows = cursor.fetchall()

print("üë§ User Data:")
for row in rows:
    print(row)  # (id, name, age)

In [ ]:
# Update a record
cursor.execute("UPDATE users SET age = 22 WHERE name = 'Ayush';")
conn.commit()
print("‚úÖ Record updated successfully!")

In [ ]:
# Delete a record
cursor.execute("DELETE FROM users WHERE name = 'John Doe';")
conn.commit()
print("‚úÖ Record deleted successfully!")

In [ ]:
# Fetch users above age 20, sorted by age
cursor.execute("SELECT * FROM users WHERE age > 20 ORDER BY age;")
print("Filtered Results:")
for row in cursor.fetchall():
    print(row)

In [ ]:
# Always close the connection after use
conn.close()
print("‚úÖ Database connection closed!")

In [ ]:
import sqlite3

# 1Ô∏è‚É£ Step 1: Connect to SQLite Database (Creates a file if it doesn't exist)
conn = sqlite3.connect('students.db')
cursor = conn.cursor()
print("‚úÖ Database connected successfully")

# 2Ô∏è‚É£ Step 2: Create a Table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
''')
conn.commit()
print("‚úÖ Table created successfully")

# 3Ô∏è‚É£ Step 3: Insert Data (CREATE operation)
students_data = [
    ('hk', 20, 'A'),
    ('John', 21, 'B'),
    ('Sarah', 22, 'A'),
]
cursor.executemany('INSERT INTO students (name, age, grade) VALUES (?, ?, ?)', students_data)
conn.commit()
print("‚úÖ Data inserted successfully")

# 4Ô∏è‚É£ Step 4: Retrieve Data (READ operation)
cursor.execute('SELECT * FROM students')
print("\nüéØ All Students:")
for row in cursor.fetchall():
    print(row)

# 5Ô∏è‚É£ Step 5: Update Data (UPDATE operation)
cursor.execute('UPDATE students SET grade = ? WHERE name = ?', ('A+', 'John'))
conn.commit()
print("\n‚úÖ Data updated successfully")

# Check updated data
cursor.execute('SELECT * FROM students WHERE name = "John"')
print("\nüîç Updated Record:")
print(cursor.fetchall())

# 6Ô∏è‚É£ Step 6: Delete Data (DELETE operation)
cursor.execute('DELETE FROM students WHERE name = ?', ('Sarah',))
conn.commit()
print("\n‚ùå Data deleted successfully")

# Final Data Check
cursor.execute('SELECT * FROM students')
print("\nüìä Final Records:")
for row in cursor.fetchall():
    print(row)

# 7Ô∏è‚É£ Step 7: Close Connection
conn.close()
print("\nüîí Database connection closed")

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# 1Ô∏è‚É£ Step 1: Connect to SQLite using SQLAlchemy
engine = create_engine('sqlite:///students.db')
Base = declarative_base()

# 2Ô∏è‚É£ Step 2: Define a Table (Model Class)
class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    age = Column(Integer)
    grade = Column(String)

    def __repr__(self):
        return f"<Student(id={self.id}, name={self.name}, age={self.age}, grade={self.grade})>"

# Create the Table
Base.metadata.create_all(engine)
print("‚úÖ Table created using SQLAlchemy")

# 3Ô∏è‚É£ Step 3: Create a Session to Interact with the Database
Session = sessionmaker(bind=engine)
session = Session()

# 4Ô∏è‚É£ Step 4: Insert Data (CREATE operation)
new_students = [
    Student(name='hj', age=20, grade='A'),
    Student(name='John', age=21, grade='B'),
    Student(name='Sarah', age=22, grade='A')
]
session.add_all(new_students)
session.commit()
print("‚úÖ Data inserted using SQLAlchemy")

# 5Ô∏è‚É£ Step 5: Retrieve Data (READ operation)
all_students = session.query(Student).all()
print("\nüéØ All Students (SQLAlchemy):")
for student in all_students:
    print(student)

# 6Ô∏è‚É£ Step 6: Update Data (UPDATE operation)
john = session.query(Student).filter_by(name='John').first()
john.grade = 'A+'
session.commit()
print("\n‚úÖ Updated John's grade")

# Verify update
print("\nüîç Updated Record (SQLAlchemy):")
print(session.query(Student).filter_by(name='John').first())

# 7Ô∏è‚É£ Step 7: Delete Data (DELETE operation)
sarah = session.query(Student).filter_by(name='Sarah').first()
session.delete(sarah)
session.commit()
print("\n‚ùå Deleted Sarah's record")

# Final Data Check
print("\nüìä Final Records (SQLAlchemy):")
for student in session.query(Student).all():
    print(student)

# 8Ô∏è‚É£ Step 8: Close Session
session.close()
print("\nüîí Session closed")